<ng-container class="ng-header" *ngIf="!logged">
  <div class="ng-header">
    <div>
      <div>
        <label for="newuser">New Username</label>
        <input id="newuser" type="text" [(ngModel)]="newusername">
      </div>
      <div>
        <label for="email">E-mail</label>
        <input id="email" type="text" [(ngModel)]="email">
      </div>
      <div>
        <label for="newpassword">Password</label>
        <input id="newpassword" type="password" [(ngModel)]="newpassword">
      </div>
      <button class="but" (click)="signup()">SIGN UP</button>
    </div>
  </div>
</ng-container>
