<div *ngFor="let r of recipes" id="recipelist" >
  <div *ngIf="logged">
    <h2 routerLink="/recipe/{{r.id}}" routerLinkActive="" class="listLinks" >{{r.cuisine.name}} {{r.name}}</h2>
    <div>
      <h5>Best for: {{r.type.name}}</h5>
      <h5>Diet type: {{r.diet.name}}</h5>
      <h5>Difficulty: {{r.difficulty.name}}</h5>
      <h5>{{r.ccal}} calories per 100g</h5>
      <h5>Will be ready in {{r.time}} minutes</h5>
      <h6><button (click)="likeRecipe(r)">{{r.likes.length}}</button> Likes</h6>
      <img src="{{r.photo}}" height="180" width="140">
<!--      pochemu on ne smotrit na http://localhost:8000 i iwet img na 4200????????-->
    </div>
  </div>
  <!--  <div *ngFor="let i of r.ingredients">-->
<!--    {{i.name}}-->
<!--  </div>-->
</div>
<button class="newBut" routerLink="/myRecipes">New recipe</button>

