<div>
  <ng-container>
    <div class="image">
      <h2>{{recipe.cuisine.name}} {{recipe.name}}</h2>
      <div>
        <h5>Best for: {{recipe.type.name}}</h5>
        <h5>Diet type: {{recipe.diet.name}}</h5>
        <h5>Difficulty: {{recipe.difficulty.name}}</h5>
        <h5>{{recipe.ccal}} calories per 100g</h5>
        <h5>Will be ready in {{recipe.time}} minutes</h5>
<!--        <h4><button (click)="likeRecipe(r)">{{r.likes}}</button> likes</h4>-->
      </div>
      <div>
<!--        <img [src]="recipe.photo" alt="photo">-->
      </div>
        <div *ngFor="let i of recipe.ingredients">
          {{i.name}}
        </div>
    </div>
  </ng-container>
</div>
