<div class="mainBlock">
  <div class="mainBlock1">
<!--    <div class="about">-->
<!--      <li class="header"> About </li>-->
<!--      <li> <hr> </li>-->
<!--      <li class="list"> <a class="list listLinks" routerLink="/about">About Us</a></li>-->
<!--      <li class="list"> <a class="list listLinks" routerLink="/about">Our Team</a></li>-->
<!--      <li class="list"> <a class="list listLinks" routerLink="/about">Home</a></li>-->

<!--    </div>-->
    <div class="menu" *ngFor="let c of cuisine">
      <li class="header"> Cuisine </li>
      <li> <hr> </li>

<!--      <li class="list"> <a class="list listLinks" routerLink="/menu">Kazakh</a></li>-->
<!--      <li class="list"> <a class="list listLinks" routerLink="/menu">Mexican</a></li>-->
<!--      <li class="list"> <a class="list listLinks" routerLink="/menu">American</a></li>-->
<!--      <li class="list"> <a class="list listLinks" routerLink="/menu">British</a></li>-->
    </div>
    <div class="diet">
      <li class="header"> Diet </li>
      <li> <hr> </li>
      <li class="list"><a class="list listLinks" routerLink="/reservation">Basic</a></li>
      <li class="list"><a class="list listLinks" routerLink="/reservation">Gluten FREE</a></li>
      <li class="list"><a class="list listLinks" routerLink="/reservation">Keto</a></li>
      <li class="list"><a class="list listLinks" routerLink="/reservation">Vegetarian</a></li>
      <!-- <li class="list"> Registration </li> -->
    </div>
    <div class="type">
      <li class="header"> Meal Type </li>
      <li> <hr> </li>
      <li class="list" ><a class="list listLinks" routerLink="/order">Breakfast</a></li>
      <li class="list" ><a class="list listLinks" routerLink="/order">Lunch</a></li>
      <li class="list" ><a class="list listLinks" routerLink="/order">Dinner</a></li>
      <li class="list" ><a class="list listLinks" routerLink="/order"></a></li>
      <li class="list" ><a class="list listLinks" routerLink="/order">Brunch</a></li>

    </div>

    <div class="other">
      <li class="header"> Account </li>
      <li> <hr> </li>
      <li class="list"> <a class="list listLinks" routerLink="/users/{{imUsername}}">My Account</a>  </li>
      <li class="list" ><a class="list listLinks" routerLink="/order">My Recipes</a></li>

    </div>
  </div>

  <div class="mainBlock2">
<!--    <div class="social">-->
<!--      <li class="icons"><i class="fab fa-facebook-f"></i></li>-->
<!--      <li class="icons"><i class="fab fa-twitter"></i></li>-->
<!--      <li class="icons"><i class="fab fa-instagram"></i></li>-->
<!--      <li class="icons"><i class="fab fa-tumblr"></i></li>-->
<!--      <li class="icons"><i class="fab fa-youtube"></i></li>-->
<!--      <li class="icons"><i class="fab fa-linkedin-in"></i></li>-->
<!--    </div>-->

  </div>
</div>
