<div class="mainBlock">
  <div class="mainBlock1">
    <div class="menu"> 
      <span class="header">Difficulty </span>
      <span><hr> </span>
      <div *ngFor="let d of diff ">
        <span class="list"><a class="list listLinks">{{d.name}}</a></span>
      </div>
    </div> 
    <div class="diet"> 
        <span class="header">Diet</span>
        <span><hr> </span>
        <div *ngFor="let d of diet ">
          <span class="list"><a class="list listLinks">{{d.name}}</a></span>
        </div>
      </div> 
    <div class="type"> 
          <span class="header">Meal Type</span>
          <span><hr> </span>
          <div *ngFor="let t of types ">
            <span class="list"><a class="list listLinks">{{t.name}}</a></span>
          </div>
    </div> 
    <!-- <div class="diet">
      <span class="header"> Diet </span>
      <span> <hr> </span>
      <div *ngFor="let d of diet ">
       
        <span class="list">{{d.name}}</span>
      
    </div>
    <div class="type">
      <span class="header">Meal Type </span>
      <span><hr> </span>
      <span class="header" *ngFor="let t of types"> Meal Type </span>
      <li>{{t.name}}</li>
    </div>

    <div class="other">
      <li class="header" routerLink="/myRecipes"> Account </li>
      <li> <hr> </li>
      </div>
    </div>  -->
  </div>
</div>
