<div class="mainBlock">
  <div class="mainBlock1">
    <div class="about">
      <li class="header"> About </li>
      <li> <hr> </li>
      <li class="list"> <a class="list listLinks" routerLink="/about">About Us</a></li>
      <li class="list"> <a class="list listLinks" routerLink="/about">Our Team</a></li>
      <li class="list"> <a class="list listLinks" routerLink="/about">Home</a></li>

    </div>

  </div>

  <div class="mainBlock2">
    <div class="social">
      <li class="icons"><i class="fab fa-facebook-f"></i></li>
      <li class="icons"><i class="fab fa-twitter"></i></li>
      <li class="icons"><i class="fab fa-instagram"></i></li>
      <li class="icons"><i class="fab fa-tumblr"></i></li>
      <li class="icons"><i class="fab fa-youtube"></i></li>
      <li class="icons"><i class="fab fa-linkedin-in"></i></li>
    </div>

  </div>
</div>
